<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796267469330-c2alouslbqhubuoq4l4c4rpgq3huadck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796267469330-c2alouslbqhubuoq4l4c4rpgq3huadck</string>
	<key>API_KEY</key>
	<string>AIzaSyC9tEyiAIjUFdSUV6Fsx-HzsnUoC6OffkI</string>
	<key>GCM_SENDER_ID</key>
	<string>796267469330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vetStudent</string>
	<key>PROJECT_ID</key>
	<string>vet-student</string>
	<key>STORAGE_BUCKET</key>
	<string>vet-student.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796267469330:ios:62b746f0361a212b5596cb</string>
</dict>
</plist>